<h1>The App Component</h1>
<!---Interpolation-->
<div>{{title}}</div>
<br>

<div>{{100 * 200}}</div>
<br>
<!--Proprty Binding-->
<input type="text" class="form-control" [value]="message">
<br>
<!--Event Binding-->
<input type="button" value="Click Me" (click)="display()">
<br>
<!--Event Binding with Event Parameter $event is standard JS event Args.
  Pass the event object with Element so that its attributes can be read in code-->
<input type="button" value="Click Me" (click)="accepyValue($event)">
<br>
<input type="text" class="form-control" [(ngModel)]="name">
<br>
<input type="text" class="form-control" [(ngModel)]="name">
<br>
<input type="text" class="form-control" [(ngModel)]="name">
<hr>
<h2>The Structural Directives</h2>
<div class="container">
    <span>The *ngFor for simple array</span>
    <br> <strong>selected name ={{selectedName}} </strong>
    <br>
    <select class="form-control" [(ngModel)]="selectedName">
    <option *ngFor="let n of names" value="{{n}}">{{n}}</option>
  </select>
</div>
<br>
<div class="container">
    <span>The *ngFor for complex array</span>
    <br> <strong>selected name ={{selectedCat}} </strong>
    <br>
    <select class="form-control" [(ngModel)]="selectedCat">
    <option *ngFor="let c of categories" value="{{c.CatId}}">{{c.CatName}}</option>
  </select>
</div>